In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import QuantileTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import r2_score
from scipy.stats import boxcox
pd.options.display.max_rows = 50
pd.options.display.max_columns = 999

In [2]:
def clean_data(df):
    df=df.drop(columns=['id'])
    df = df[df["bedrooms"] <= 8]
    df = df[(df["bathrooms"] < 6) & (df["bathrooms"] >= 1)]
    df = df[df["sqft_living"] <= 6000]
    df = df[df["sqft_lot"] <= 30000]
    df = df[df["sqft_lot15"] <= 30000]
    df.loc[df["view"] != 0, "view"] = 1
    df = df[df["condition"] > 2]
    df.loc[df["sqft_basement"] != 0, "sqft_basement"] = 1
    df.loc[(df["yr_renovated"]!=0)&(df["yr_renovated"]<2000), "yr_renovated"] = 1
    df.loc[df["yr_renovated"]>=2000, "yr_renovated"] = 2
    
    return df

In [3]:
path = r"..\Data_Midterm.xls"
rs = pd.read_excel(path, engine="xlrd")
rs = clean_data(rs)

In [4]:
rs.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
count,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,19521.000000,1.952100e+04
mean,3.362789,2.093143,2017.925209,7861.862507,1.493725,0.005635,0.094104,3.424773,7.605399,1728.814507,0.399980,1970.604528,0.062446,98080.180728,47.562584,-122.225927,1939.434865,7613.022540,5.256298e+05
std,0.886451,0.739045,832.429113,4524.972445,0.544226,0.074856,0.291981,0.638252,1.100004,753.362409,0.489906,29.841867,0.318558,54.229560,0.136479,0.132582,652.600960,3990.658037,3.320386e+05
min,1.000000,1.000000,390.000000,520.000000,1.000000,0.000000,0.000000,3.000000,4.000000,390.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.503000,460.000000,651.000000,8.200000e+04
25%,3.000000,1.500000,1410.000000,4997.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1180.000000,0.000000,1951.000000,0.000000,98033.000000,47.479900,-122.333000,1470.000000,5000.000000,3.180000e+05
50%,3.000000,2.250000,1870.000000,7260.000000,1.500000,0.000000,0.000000,3.000000,7.000000,1520.000000,0.000000,1973.000000,0.000000,98072.000000,47.574400,-122.257000,1800.000000,7350.000000,4.425000e+05
75%,4.000000,2.500000,2480.000000,9638.000000,2.000000,0.000000,0.000000,4.000000,8.000000,2120.000000,1.000000,1998.000000,0.000000,98118.000000,47.678600,-122.149000,2290.000000,9375.000000,6.300000e+05
max,8.000000,5.750000,5990.000000,29985.000000,3.500000,1.000000,1.000000,5.000000,13.000000,5844.000000,1.000000,2015.000000,2.000000,98199.000000,47.777600,-121.315000,5790.000000,29985.000000,3.850000e+06

# Regression plots

### We start with plotting every variable against the price.
 It's a simple visualization that will allow us to check how each variable is related (or not) to the price.

In [13]:
sns.set_style('whitegrid')

for col in rs.columns:
    if rs[col].dtype() != object and rs[col].dtype != "datetime64": 
        sns.lmplot(x = col, y ='price', data = rs)

TypeError: 'numpy.dtype[datetime64]' object is not callable

# Preprocessing

# Modeling

# Misc