## Aggregate data into one Data Frame using Pandas.

In [1]:
import pandas as pd

We import the csv files

In [2]:
df1 = pd.read_csv("file1.csv")
df2 = pd.read_csv("file2.csv")

#We check if the columns are the same:
set(df1.columns) == set(df2.columns)

True

We concatenate in the in a dataframe `df`

In [5]:
df = pd.concat([df1,df2], ignore_index=True)

df_sec = df.copy()
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Standardizing header names

In [6]:
column_names = df.columns
column_names_clean = [column.lower().replace(" ", "_") for column in column_names]
df.columns = column_names_clean
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   2067 non-null   object
 1   st                         2067 non-null   object
 2   gender                     1945 non-null   object
 3   education                  2067 non-null   object
 4   customer_lifetime_value    2060 non-null   object
 5   income                     2067 non-null   float64
 6   monthly_premium_auto       2067 non-null   float64
 7   number_of_open_complaints  2067 non-null   object
 8   policy_type                2067 non-null   object
 9   vehicle_class              2067 non-null   object
 10  total_claim_amount         2067 non-null   float64
dtypes: float64(3), object(8)
memory usage: 430.2+ KB

### Deleting and rearranging columns â€“ delete the column customer as it is only a unique identifier for each row of data

In [7]:
df.drop(columns="customer", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   object
 4   income                     2067 non-null   float64
 5   monthly_premium_auto       2067 non-null   float64
 6   number_of_open_complaints  2067 non-null   object
 7   policy_type                2067 non-null   object
 8   vehicle_class              2067 non-null   object
 9   total_claim_amount         2067 non-null   float64
dtypes: float64(3), object(7)
memory usage: 391.1+ KB

In [15]:
#Rearranging columns:
new_columns = list(df.columns)
income = new_columns.pop(4)
monthly_premium = new_columns.pop(4)
new_columns.append(income)
new_columns.append(monthly_premium)
print(new_columns)

df = df.reindex(columns=new_columns)
df.info()

['st', 'gender', 'education', 'customer_lifetime_value', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'income', 'monthly_premium_auto']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   object
 4   number_of_open_complaints  2067 non-null   object
 5   policy_type                2067 non-null   object
 6   vehicle_class              2067 non-null   object
 7   total_claim_amount         2067 non-null   float64
 8   income                     2067 non-null   float64
 9   monthly_premium_auto       2067 non-null   float64
dtypes: float64(3), object(7)
memory usage: 391.1+ KB

### - Working with data types â€“ Check the data types of all the columns and fix the incorrect ones (for ex. customer lifetime value and number of complaints )

In [16]:
#We turn the customer_lifetime_value to a float column, eliminating the % at the end and dividing by 100
def func1(x):
     
    if x != x:
        return x
    else:
        return float(x[:-1])/100

df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(func1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         2067 non-null   object
 1   gender                     1945 non-null   object
 2   education                  2067 non-null   object
 3   customer_lifetime_value    2060 non-null   float64
 4   number_of_open_complaints  2067 non-null   object
 5   policy_type                2067 non-null   object
 6   vehicle_class              2067 non-null   object
 7   total_claim_amount         2067 non-null   float64
 8   income                     2067 non-null   float64
 9   monthly_premium_auto       2067 non-null   float64
dtypes: float64(4), object(6)
memory usage: 391.1+ KB

In [17]:
#We turn the number of open complaints so it shows an int, the second value of the chain
def func2(x):
        
    if x != x:
        return x
    else:
        return int(x[2])
    
df["number_of_open_complaints"] = df["number_of_open_complaints"].apply(func2)
print(df["number_of_open_complaints"].value_counts())

0.0    1626
1.0     247
2.0      93
3.0      60
4.0      29
5.0      12
Name: number_of_open_complaints, dtype: int64

In [18]:
print(df["number_of_open_complaints"].unique())
print(df["customer_lifetime_value"].describe())

[ 0.  2.  1.  3.  5.  4. nan]
count     2060.000000
mean      7799.463082
std       6329.808952
min       2004.350700
25%       3978.075700
50%       5720.275400
75%       8819.018900
max      58166.553500
Name: customer_lifetime_value, dtype: float64

###  Filtering data and Correcting typos â€“ Filter the data in state and gender column to standardize the texts in those columns

We start by filtering and changing the state column

In [19]:
df["st"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [20]:

def state_cl(x):
    if not x == x:
        return x
    else:
        dic = {"Washington":"WA", "WA":"WA", "Arizona": "AZ", "Nevada":"NV", "California": "CA",
              "Cali": "CA", "AZ":"AZ", "Oregon":"OR"}
        return dic[x]
        
df["st"] = df["st"].apply(state_cl)
df["st"].unique()

array(['WA', 'AZ', 'NV', 'CA', 'OR', nan], dtype=object)

Now we do the same thing with the gender column

In [21]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [22]:
def gender_clean(x):
    
    if not x == x:
        return x
    else:
        dic = {"F":"F", "Femal": "F", "Male":"M", "female": "F", "M":"M"}
        
        return dic[x]

df["gender"] = df["gender"].apply(gender_clean)
df["gender"].unique()

array([nan, 'F', 'M'], dtype=object)

### Removing duplicates

In [23]:
df_final = df.copy()

In [24]:
df_final = df_final.drop_duplicates()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2049 entries, 0 to 5003
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         2048 non-null   object
 1   gender                     1926 non-null   object
 2   education                  2048 non-null   object
 3   customer_lifetime_value    2041 non-null   float64
 4   number_of_open_complaints  2048 non-null   float64
 5   policy_type                2048 non-null   object
 6   vehicle_class              2048 non-null   object
 7   total_claim_amount         2048 non-null   float64
 8   income                     2048 non-null   float64
 9   monthly_premium_auto       2048 non-null   float64
dtypes: float64(5), object(5)
memory usage: 176.1+ KB

So the number of rows is reduced to 2049

In [25]:
#Changing the index so it reflects the new length
df_final = pd.concat([df_final],ignore_index=True)
df_final

,st,gender,education,customer_lifetime_value,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,income,monthly_premium_auto
0,WA,NaN,Master,NaN,0.0,Personal Auto,Four-Door Car,2.704934,0.0,1000.0
1,AZ,F,Bachelor,6979.5359,0.0,Personal Auto,Four-Door Car,1131.464935,0.0,94.0
2,NV,F,Bachelor,12887.4317,0.0,Personal Auto,Two-Door Car,566.472247,48767.0,108.0
3,CA,M,Bachelor,7645.8618,0.0,Corporate Auto,SUV,529.881344,0.0,106.0
4,WA,M,High School or Below,5363.0765,0.0,Personal Auto,Four-Door Car,17.269323,36357.0,68.0
...,...,...,...,...,...,...,...,...,...,...
2044,AZ,M,Master,8471.4175,0.0,Personal Auto,Four-Door Car,185.667213,63513.0,70.0
2045,AZ,F,College,5431.2191,0.0,Corporate Auto,Four-Door Car,140.747286,58161.0,68.0
2046,NV,F,College,5689.6441,0.0,Corporate Auto,Two-Door Car,471.050488,83640.0,70.0
2047,CA,F,Master,3686.7238,0.0,Personal Auto,Two-Door Car,28.460568,0.0,96.0
2048,CA,M,Bachelor,3992.5839,0.0,Personal Auto,SUV,700.349052,0.0,111.0

## Activity number 2: Bucketing the data - Write a function to replace column "State" to different zones. California as West Region, Oregon as North West, and Washington as East, and Arizona and Nevada as Central

In [69]:
#Changing the name of the field
df = df_final.copy()

df.rename(columns={"st":"region"}, inplace=True)
df.columns

Index(['region', 'gender', 'education', 'customer_lifetime_value',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount', 'income', 'monthly_premium_auto'],
      dtype='object')

In [70]:
#Function to map the states to their region
def region(x):
    if x != x:
        return x
    else:
        dic = {"CA":"West Region", "OR": "North West", "WA": "East", "AZ": "Central", "NV": "Central"}
        return dic[x]

df["region"] = df["region"].apply(region)
df["region"].unique()

array(['East', 'Central', 'West Region', 'North West', nan], dtype=object)

### Eliminating rows that are all NaN

We already did. Now we substitute the NaN in several columns, so we don't leave data out

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   region                     2048 non-null   object
 1   gender                     1926 non-null   object
 2   education                  2048 non-null   object
 3   customer_lifetime_value    2041 non-null   float64
 4   number_of_open_complaints  2048 non-null   float64
 5   policy_type                2048 non-null   object
 6   vehicle_class              2048 non-null   object
 7   total_claim_amount         2048 non-null   float64
 8   income                     2048 non-null   float64
 9   monthly_premium_auto       2048 non-null   float64
dtypes: float64(5), object(5)
memory usage: 160.2+ KB

In [72]:
#We put U in all the gender columns that are not defined:
print("Gender column before filling:\n",df["gender"].value_counts())
df["gender"] = df["gender"].fillna(value="U")
print("Gender column with NaN filled:\n ", df["gender"].value_counts())

Gender column before filling:
 F    1021
M     905
Name: gender, dtype: int64
Gender column with NaN filled:
  F    1021
M     905
U     123
Name: gender, dtype: int64

In [73]:
#Now we fill the customer_lifetime_value with the mean of that column:
mean_lifetime_value = df["customer_lifetime_value"].mean()
print(df["customer_lifetime_value"].describe())
df["customer_lifetime_value"] = df["customer_lifetime_value"].fillna(value=mean_lifetime_value)
print(df["customer_lifetime_value"].describe())

count     2041.000000
mean      7794.818377
std       6333.045805
min       2004.350700
25%       3974.138200
50%       5727.327100
75%       8798.797000
max      58166.553500
Name: customer_lifetime_value, dtype: float64
count     2049.000000
mean      7794.818377
std       6320.664472
min       2004.350700
25%       3982.180700
50%       5746.148300
75%       8783.165400
max      58166.553500
Name: customer_lifetime_value, dtype: float64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   region                     2048 non-null   object
 1   gender                     2049 non-null   object
 2   education                  2048 non-null   object
 3   customer_lifetime_value    2049 non-null   float64
 4   number_of_open_complaints  2048 non-null   float64
 5   policy_type                2048 non-null   object
 6   vehicle_class              2048 non-null   object
 7   total_claim_amount         2048 non-null   float64
 8   income                     2048 non-null   float64
 9   monthly_premium_auto       2048 non-null   float64
dtypes: float64(5), object(5)
memory usage: 160.2+ KB

### Standardizing the data â€“ Use string functions to standardize the text data (lower case)

In [76]:
def low(x):
    if x!=x:
        return x
    else:
        return str(x).lower()

df["education"] = df["education"].apply(low)
df["policy_type"] = df["policy_type"].apply(low)
df["vehicle_class"] = df["vehicle_class"].apply(low)
print(df[["education","policy_type","vehicle_class"]].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   education      2048 non-null   object
 1   policy_type    2048 non-null   object
 2   vehicle_class  2048 non-null   object
dtypes: object(3)
memory usage: 48.1+ KB
None

### Which columns are numerical? - 

customer_lifetime_value, number_of_open_complaints, total_claim_amount, income, monthly_premium_auto

### Which columns are categorical? - 

region, gender, education, policy_type, vehicle_class

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   region                     2048 non-null   object
 1   gender                     2049 non-null   object
 2   education                  2048 non-null   object
 3   customer_lifetime_value    2049 non-null   float64
 4   number_of_open_complaints  2048 non-null   float64
 5   policy_type                2048 non-null   object
 6   vehicle_class              2048 non-null   object
 7   total_claim_amount         2048 non-null   float64
 8   income                     2048 non-null   float64
 9   monthly_premium_auto       2048 non-null   float64
dtypes: float64(5), object(5)
memory usage: 160.2+ KB

In [79]:
df.describe()

,customer_lifetime_value,number_of_open_complaints,total_claim_amount,income,monthly_premium_auto
count,2049.000000,2048.000000,2048.000000,2048.000000,2048.000000
mean,7794.818377,0.378906,411.182471,39502.444824,166.753906
std,6320.664472,0.881878,283.202904,30337.183028,1216.775514
min,2004.350700,0.000000,0.382107,0.000000,61.000000
25%,3982.180700,0.000000,245.354739,15162.750000,68.000000
50%,5746.148300,0.000000,350.400000,36526.000000,81.000000
75%,8783.165400,0.000000,524.125708,64161.250000,108.000000
max,58166.553500,5.000000,2893.239678,99981.000000,35354.000000