## 1.- Importing libraries

In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa

## 2.- Connecting to the database

In [8]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:')
ip = '127.0.0.1'

Your password:········

In [9]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [4]:
engine = sa.create_engine(connection_string)

### We check that everything went well:

In [5]:
insp = sa.inspect(engine)
db_list = insp.get_schema_names()
print(db_list)

['apps', 'bank', 'customer_analysis', 'information_schema', 'lab_db_python_sql', 'mysql', 'olist', 'performance_schema', 'sakila', 'sys', 'world']

## 3.- Uploading the customer_analysis schema to Pandas

In [7]:
customer_df = pd.read_sql_query("SELECT * FROM customer_analysis.customer;", engine)
customer_df.head()

,customer_index,state,customer_lifetime_value,Response,Coverage,Education,effective_to_date,EmploymentStatus,Gender,Income,...,number_of_open_complaints,number_of_policies,policy_type,Policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,nan
1,1,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,nan
2,2,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,nan

### Success!!